<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ilg.gnumcueclipse.debug.gdbjtag.openocd.launchConfigurationType">
    <booleanAttribute key="com.Haawking.project.prototype.load" value="true"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.core.multiCore" value="false"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.core.multiCore.mainCore" value="true"/>
    <intAttribute key="ilg.gnumcueclipse.debug.core.multiCore.mainCore.portNumber" value="3333"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.PERIPHERALS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;peripherals&gt;&#13;&#10;    &lt;peripheral name=&quot;SCIA&quot;/&gt;&#13;&#10;    &lt;peripheral name=&quot;EPWM1&quot;/&gt;&#13;&#10;    &lt;peripheral name=&quot;EPWM2&quot;/&gt;&#13;&#10;    &lt;peripheral name=&quot;EPWM3&quot;/&gt;&#13;&#10;    &lt;peripheral name=&quot;EPWMXBAR&quot;/&gt;&#13;&#10;    &lt;peripheral name=&quot;CMPSS1&quot;/&gt;&#13;&#10;    &lt;peripheral name=&quot;CMPSS3&quot;/&gt;&#13;&#10;    &lt;peripheral name=&quot;ANALOGSUBSYS&quot;/&gt;&#13;&#10;&lt;/peripherals&gt;&#13;&#10;"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.debugElfName" value=""/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doContinue" value="true"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doDebugInRam" value="false"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doDebugWithoutDownload" value="false"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doFirstReset" value="false"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doGdbServerAllocateConsole" value="true"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doGdbServerAllocateTelnetConsole" value="false"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doSecondReset" value="false"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doStartGdbCLient" value="true"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.doStartGdbServer" value="true"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.enableSemihosting" value="false"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.firstResetType" value="init"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbClientOtherCommands" value="set mem inaccessible-by-default off&#13;&#10;set remote hardware-breakpoint-limit 2&#13;&#10;set remote hardware-watchpoint-limit 0&#13;&#10;set arch riscv:rv32&#13;&#10;set remotetimeout 250"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbClientOtherOptions" value=""/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerExecutable" value="${openocd_path}/${openocd_executable}"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum1" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum2" value="47FFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum3" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum4" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum5" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum6" value="E3FFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum7" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerFlashPasswordNum8" value="FFFFFFFF"/>
    <intAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerGdbPortNumber" value="3333"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerJtaglockPasswordNum1" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerJtaglockPasswordNum2" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerJtaglockPasswordNum3" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerJtaglockPasswordNum4" value="FFFFFFFF"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerOther" value="-f &quot;haawking-drivers/haawking-dsc28335-board/board/haawking-dsc280025.cfg&quot;"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerTclPortNumber" value="6666"/>
    <intAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.gdbServerTelnetPortNumber" value="4444"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.openocdLogPath" value="${projectPath}\openocd_log.txt"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.otherInitCommands" value="monitor hx_probe 0&#13;&#10;monitor reset init&#13;&#10;monitor  hx_unlock 0"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.otherRunCommands" value=""/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.saveOpenocdLog" value="false"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.secondResetType" value="halt"/>
    <stringAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.targetRegFile" value=""/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.useFileForElf" value="false"/>
    <booleanAttribute key="ilg.gnumcueclipse.debug.gdbjtag.openocd.useProjectBinaryForElf" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.ipAddress" value="localhost"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.jtagDevice" value="GNU MCU OpenOCD"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.portNumber" value="3333"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useRemoteTarget" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="${cross_prefix}gdb${cross_suffix}"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.UPDATE_THREADLIST_ON_SUSPEND" value="false"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/FASTLib_HX280025CEDC_V2.0_pre_Freemaster.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="FASTLib_HX280025CEDC_V2.0_pre_Freemaster"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="ilg.gnumcueclipse.managedbuild.cross.riscv.config.elf.debug.1880970502"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/FASTLib_HX280025CEDC_V2.0_pre_Freemaster"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList context=&quot;Context string&quot;&gt;&#13;&#10;    &lt;memoryBlockExpression address=&quot;6302192&quot; label=&quot;0x6029f0&quot;/&gt;&#13;&#10;    &lt;memoryBlockExpression address=&quot;6301856&quot; label=&quot;0x6028a0&quot;/&gt;&#13;&#10;    &lt;memoryBlockExpression address=&quot;6291770&quot; label=&quot;0x60013a&quot;/&gt;&#13;&#10;&lt;/memoryBlockExpressionList&gt;&#13;&#10;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
